#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  margin: 20px auto;
  padding: 0 10%;
}

a {
  color: #c60124 !important;
  text-decoration: none !important;
}

a.active {
  color: #350002 !important;
}

nav {
  padding-top: 20px;
}
