html {
  height: 100%;
}

body {
  font-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  background-color: #dddad7 !important;
}

h3 {
  font-size: 1.2em !important;
  margin-top: 10px !important;
  color: #c60124 !important;
}

#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  margin: 20px auto 40px auto;
  padding: 0 10%;
  margin: 0;
}

a {
  color: #c60124 !important;
  text-decoration: none !important;
}

a.active {
  color: #350002 !important;
}

nav {
  padding-top: 20px;
}

.innerForm {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0 0 -30px;
}

.innerForm > div {
  width: calc(100% * (1/2) - 30px);
  height: auto;
  margin: 30px 0 0 30px;
}

.form-textarea {
  width: 100% !important;
  height: auto;
}

.inputField {
  width: 50%;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 50px;
}

.inputField:focus {
  user-select: none;
}

.movieRow {
  margin: 20px 20px 20px 0;
  padding: 20px 0 0 0;
  border-left: solid 2px #c60124;
  border-right: solid 2px #c60124;
  background-color: #fff;
  font-size: 1em;
  text-align: center;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.20);
  overflow: hidden;
}

.btn.btn-primary {
  margin-top: 30px;
}

.movieContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.editButton {
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #c60124;
  padding: 10px 0;
  margin-top: 20px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
}

.editButton::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #350002;
  height: 5px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.editButton:hover:before, .editButton:focus:before, .editButton:active:before {
  right: 0;
}
